.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #001628 !important;

    p{
        margin: 0;
        color: #fff;
        font-weight: 600;
    }
}